<div class="header container-fluid " th:fragment="header">
    <div class="row">
        <div class="col-md-6 text-left"><a class="homelogo" href="/">Homepage</a></div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-user"></span> Admin
            </button>
            <span>| Language</span>
            <select>
                <option value="English">English</option>
                <option value="Vietnam">Vietnam</option>
            </select></div>
    </div>
</div>
